.arrowBody {
	position: relative;
	height: 100px;
	width: 70px;
}

.arrow {
	position: absolute;
	top: 100px;
	transition: .5s ease-in-out;

}

.arrowBody:hover .arrow {
  	top: 0;
}

.arrowArrow {
	width:20px;
    height:20px;
    left: 22px;
    top: 3px;
    position: absolute;
    border-top:3px solid green;
    border-right:3px solid green;
    transform:rotate(-45deg);
}

.arrowStick {
	width:3px;
    height: 60px;
    top: 0;
    left: 32px;
    position: absolute;
    background-color: green;
}

.square {
	width: 60px;
	height: 60px;
	top: 30px;
	position: absolute;
	border: 3px solid green;
}

.SillyDecisionToHideThatHorribleThing {
	width: 40px;
	height: 70px;
	top: 104px;
	left: 20px;
	background-color: white;
	position: absolute;
}
